<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tr th:each = "user, userStat : ${users}">
    <td th:text="${userStat.count}">username</td>
    <td th:text="${user.username}">username</td>
    <td th:text="${user.age}">0</td>
</tr>
<td>
    index = <span th:text = "${userStat.index}"></span>
</td>
<th:block th:each="user:${users}">
    <div>
        사용자 이름1 <span th:text = "${user.username}"></span>
        사용자 나이1 <span th:text = "${user.age}"></span>
    </div>
    <div>
        요약<span th:text="${user.username} + '/' + ${user.age}"></span>
    </div>

</th:block>
</body>
</html>
