<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action = "item.html" th:action th:object="${item}" method="post">
    <div>
        <label for="itemName">상품명</label>
        <input type = "text" id = "itemName" th:field="${itemName}" class="form-control"/>
    </div>
    <div>
        <label for ="price">가격</label>
        <input type="text" id="price" th:field="${price}" class="form-control"/>
    </div>
    <div>
        <label for ="quantity">수량</label>
        <input type="text" id="quantity" th:field="${quantity}" class="form-control"/>
    </div>
    <div>
        <div class="form-check">
            <input type="checkbox" id="open" name="open" class="fore-check-input"/>
            <label for="open" class="form-check-label">판매오픈</label>
        </div>
    </div>
    <div>
        <div>상품종류</div>
        <div th:each="type: ${itemTypes}" class ="form-check form-check-inline">

<!--            <div th:each="type: ${T(hello.itemservice.domain.item.ItemType).values()}" class ="form-check form-check-inline">-->
            <input type="radio" th:field="${itemType}" th:value="${type.name()}"/>
            <label th:for="${#ids.prev('itemType')}" th:text="${type.description}"/>
        </div>
    </div>
    <div th:text="#{label.item}"></div>
</form>
</body>
</html>